* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

:root {
    --primary-background-color: white;
    --primary-font-color: rgb(255, 255, 255);
    --primary-button-color: rgb(112, 112, 112);
    --primary-button-hover-color: rgb(63, 63, 63);
    --primary-pad-background-color: #c6c6c6;
    --secondary-button-color: black;
}

body {
    background-color: #282c34;
    font-family: 'Playwrite GB S', sans-serif;
}

.page-two-frame {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 400px;
    margin-top: -200px;
    margin-left: -200px;
    border-radius: 20px;
    box-shadow: 1px 2px 10px 0px black;
    background-color: var(--primary-background-color);
}

.buttons-frame {
    display: flex;
    justify-content: center;
    margin-top: 8px;
}

.clear-button,
.save-button {
    width: 80px;
    height: 30px;
    border-radius: 20px;
    border: none;
    font: 17px 'Playwrite GB S', sans-serif;
    color: var(--primary-font-color);
    background: linear-gradient(145deg, var(--primary-button-color), var(--secondary-button-color));
    transition: all 0.3s ease;
    box-shadow: 2px 4px 15px rgba(0, 0, 0, 0.2), inset 0px 0px 10px rgba(255, 255, 255, 0.2);
}

.clear-button:hover,
.save-button:hover {
    background-color: var(--primary-button-hover-color);
    box-shadow: 4px 6px 20px rgba(0, 0, 0, 0.4);
    transform: scale(1.05);
}

.clear-button {
    margin: 0 20% 0 0;
}

.save-button {
    margin: 0 0 0 20%;
}

.signature-pad {
    margin: 5% 5% 0 5%;
    width: 90%;
    height: 330px;
    background-color: var(--primary-pad-background-color);
    border: 2px solid #000000;
    border-radius: 10px;
    box-shadow: 1px 2px 10px 0px var(--primary-button-hover-color);
}

.color-picker {
    width: 50px;
    height: 30px;
    border-radius: 2px;
}

@media screen and (max-width: 470px) {
    .page-two-frame {
        width: 85.1%;
        height: 364.219px;
        left: 54.5%;
    }

    .signature-pad {
        height: 300px;
    }

    .clear-button,
    .save-button {
        width: 65px;
        height: 25px;
        font-size: 14px;
    }

    .color-picker {
        width: 50px;
        height: 25px;
    }

}